.gift {
  background-color: $grey;
  text-align: center;
  display: block;
  padding: 26px 370px 87px ;

  &__body{
    margin: 0 auto;
    min-width: 1161px;
  }

  &__img {
    margin-bottom: 45px;

  }

  &__title {
    color:#252525;
    font-family: 'Roboto-Regular';
    font-size: 30px;
    line-height: 43px;
    margin-bottom: 51px;
  }
}
.wrapper {
}
.header {

  &__describe {

  }
}

